body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#80adc3, #495e69);
    font-family: sans-serif;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    text-transform: uppercase;
    transform: rotate(-20deg) skew(25deg);
    animation: animate 5s ease-in-out infinite; 
}
@keyframes animate{
    0%,100%{
        transform: rotate(-20deg) skew(25deg) translate(0,0);
        text-shadow: -5px 5px 0 rgba(0,0,0,.2);
    }
    50%{
        transform: rotate(-20deg) skew(25deg) translate(50px,-50px);
        text-shadow: -50px 50px 0 rgba(0,0,0,.2);
        filter: blur(15px);
    }
}
@media(max-width: 900px){
    h1{
        font-size: 4em;
        transform: rotate(-10deg) skew(15deg);
    }
}
/* responsive */