body{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    overflow: hidden;
    background: #000;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:perspective(1000px) translate(-50%,-50%) skewY(15deg);
     transition: .5s;
}
.center:hover{
    transform:perspective(1000px) translate(-50%,-50%) skewY(0deg);
}

.center h1 span{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 12em;
    text-transform: uppercase;
    transform-style: preserve-3d;
    transition: 1s;
}
.center h1 span:nth-child(1){
clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
-webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}
.center h1 span:nth-child(2){
    color: rgb(241, 111, 111);
    transform: translate(-50%,-50%) skewX(-60deg);
    left: -38px;
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}
.center h1 span:nth-child(3){
    transform: translate(-50%,-50%) skewX(0deg);
    left: -76px;
    clip-path: polygon(0 55%, 100% 55%, 100% 100%,0 100%);
    -webkit-clip-path: polygon(0 55%, 100% 55%, 100% 100%,0 100%);
}
.center:hover h1 span:nth-child(2),
.center:hover h1 span:nth-child(3){
    transform: translate(-50%,-50%) skewX(0deg);
    left: 0;
    color: #fff;
}