body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #262626;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}
ul li{
    list-style: none;
    color: #fff;
    font-size: 4em;
    letter-spacing: 10px;
    filter: blur(1px);
    transition: .5s;
}
ul li:hover,
ul li:hover ~ li{
    transform: rotate(180deg) translateY(-200px);
    transition: 2s;
    filter: blur(20px);
    opacity: 0;
}
@media(max-width:320px){
    ul li{
      font-size: 2em;
      letter-spacing: 4px; 
    }
}