body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container{
    position: relative;
    width: 360px;
    height: 640px;
    margin-top: 150px;
    background: rgba(0,0,0,.1);
    transform: rotate(-30deg) skewX(25deg) scale(.8);
    transition: .5s;
}
.container img{
    position: absolute;
    width: 100%;
    transition: .5s;
}
.container:hover img:nth-child(4){
  transform: translate(160px,-160px);
  opacity: 1;
}
.container:hover img:nth-child(3){
    transform: translate(120px,-120px);
    opacity: .8;
}
.container:hover img:nth-child(2){
    transform: translate(80px,-80px);
    opacity: .6;
}
.container:hover img:nth-child(1){
    transform: translate(40px,-40px);
    opacity: .4;
}
  