body {
    margin: 0;
    padding: 0;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(1536px / 6);
    height: 256px;
    background: url(images.jpg);
    background-size: cover;
    animation: animate 1s steps(6) infinite;
}
@keyframes animate{
  from{
      background-position: 0;
  }  
  to{
    background-position: -1536px;
  }
}